.achievements {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 20px;
    gap: 20px;
}

.achievement {
    border-radius: 20px;
    border: 2px solid white;
    padding: 20px;
    background-color: #222222;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 90vw;
}

.trophy {
    border-radius: 5px;
    font-size: 80px;
    background-color: #222222;
    margin-left: 30px;
    margin-right: 5px;
}

.achievement-info {
    width: 500px;
}

.achievement-meta {
    margin-top: 4px;
    color: #dddddd;
}
  
.rarity {
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 8px;
    margin-left: 4px;
}
  
.rarity.common, .trophy.common {
    background-color: #aaaaaa;
    color: black;
  }
  
.rarity.rare, .trophy.rare {
    background-color: #2e8b4e;
    color: white;
}
  
.rarity.epic, .trophy.epic {
    background-color: #9933ff;
    color: white;
}

.rarity.ultrarare, .trophy.ultrarare {
    background-color: #3399ff;
    color: white;
}

.rarity.legendary, .trophy.legendary {
    background-color: #e0ca4b;
    color: white;
} 

.rarity.mythical, .trophy.mythical {
    background-color: #e9400d;
    color: white;
} 

@media (max-width: 600px) {
    .trophy {
        font-size: 70px;
        margin-left: 20px;
        margin-right: 0px;
    }
    .achievement-info {
        width: 350px;
    }
}