.dice-container {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.dice-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rolling-message {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.circular-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.display:hover {
    border: 1px solid white;
    cursor: default;
}

.display-toggle {
    border: 2px solid white;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.dice {
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.dice1 {
    background-image: url("../assets/dice/dice1.png");
}

.dice2 {
    background-image: url("../assets/dice/dice2.png");
}

.dice3 {
    background-image: url("../assets/dice/dice3.png");
}

.dice4 {
    background-image: url("../assets/dice/dice4.png");
}

.dice5 {
    background-image: url("../assets/dice/dice5.png");
}

.dice6 {
    background-image: url("../assets/dice/dice6.png");
}

.horizontal-line {
    width: 90vw;
    margin-top: 30px;
}