.text-box {
    position: relative;
    border: 2px solid white;
    text-align: left;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    min-height: 100px;
    padding-right: 50px;
}

.num-para {
    width: 30px;
}

.copy-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    color: #EEEEEE;
    z-index: 20;
    opacity: 80%;
}
